.App-list{
    border-bottom: 0.2px solid gray;
    padding: 8px;
    margin: {
        right : 2em;
        left : 2em;
        top : 1em;
    }
    background-color:white;
    display : flex;
    width : 85%;
    height : 30px;

    .list {
        flex :1;
        display : flex;
    }

    button{
        color: #fff !important;
        text-transform: uppercase;
        background:  #1AAB8A;
        padding: 5px 10px 5px 10px;
        border-radius: 30px;
        border: none;
        margin: -3px 3px 5px 5px;
    }
}
