.App{
    max-width: 500px;
    top : -100px;
    margin: 10em auto;
    margin-bottom: -10em;
    height: 800px;
    display: block;
    position: relative;
    background-color: white;
    border: 1px solid gray;
    
    .App-header{
        margin : 3%;
    }

    .App-main{
        height: 700px;
        display: block;
        overflow:auto;

        &::-webkit-scrollbar-track {
            background-color: lightblue;
          }
    }
}