.App{
    max-width: 500px;
    top : -100px;
    margin: 10em auto;
    height: 800px;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid gray;
    
    .App-header{
        margin : 3%;
    }
}